@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");
html ::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-right: 110px;
  margin-left: 110px;
}

@media (max-width: 1024px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0px;
    padding-right: 0px;
  }
  nav img {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 30px;
  }
  nav img {
    margin-left: 30px;
  }
}

nav .mobile-bar {
  padding: 10px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 480px) {
  nav .mobile-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 22px;
  }
}

nav .mobile-bar span {
  display: block;
  height: 2px;
  width: 20px;
  margin: 2px;
  background: #888;
}

nav .mobile-bar.active {
  background: #333;
}

nav .mobile-bar.active span {
  background: white;
}

nav .mobile-bar:hover {
  background: #da0000;
}

nav .mobile-bar:hover span {
  background: white;
}

nav .mobile-bar:hover.active {
  background: #daff07;
}

nav .mobile-bar:hover.active span {
  background: white;
}

nav ul {
  list-style: none;
  margin: 0;
  margin-left: -4px;
  padding: 0;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
}

@media (max-width: 480px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: none;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f2f2f2;
  }
  nav ul.active {
    opacity: 1;
    max-height: 500px;
    background-color: #e2e2e2;
  }
  nav ul.active li {
    display: block;
  }
  nav ul.active li a {
    display: block;
  }
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 0.5em 1em;
}

nav li a:hover {
  background: brown;
}

nav .nav-signup {
  padding: 0 1.5rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  -webkit-transition: ease-in 0.25s all;
  transition: ease-in 0.25s all;
  font-size: 16px;
  color: white;
}

nav .nav-signup:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media (max-width: 480px) {
  nav .nav-signup {
    display: none;
  }
}

@media (max-width: 768px) {
  nav .nav-signup {
    display: none;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 110px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .left-part {
  margin-top: 100px;
}

header .left-part h2 {
  font-size: 4rem;
  max-width: 700px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  header .left-part h2 {
    font-size: 4rem;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  header .left-part h2 {
    font-size: 3rem;
    max-width: 380px;
  }
}

@media (max-width: 480px) {
  header .left-part h2 {
    font-size: 2.5rem;
  }
}

header .left-part p {
  font-size: 1.6rem;
  max-width: 700px;
  line-height: 3rem;
}

@media (max-width: 1024px) {
  header .left-part p {
    font-size: 2rem;
    line-height: 3rem;
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  header .left-part p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-right: 22px;
  }
}

@media (max-width: 768px) {
  header .left-part p {
    font-size: 1.5rem;
    max-width: 380px;
    line-height: 2.5rem;
  }
}

header .left-part .cta {
  margin-top: 40px;
  color: white;
  font-size: 18px;
  padding: 8px 25px;
  background-color: #66bb6a;
  border: none;
  border-radius: 5px;
  -webkit-transition: ease-in 0.25s all;
  transition: ease-in 0.25s all;
  -webkit-filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
          filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
}

header .left-part .cta:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media (max-width: 1024px) {
  header .left-part .cta {
    padding: 18px 45px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  header .left-part {
    display: inline-block;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  header .left-part {
    display: inline-block;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 20px;
  }
}

header .main-illustration {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 0px;
  top: 0px;
}

header .main-illustration img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 1024px) {
  header .main-illustration img {
    height: 700px;
  }
}

@media (max-width: 768px) {
  header .main-illustration img {
    height: 550px;
  }
}

@media (max-width: 480px) {
  header .main-illustration img {
    display: none;
  }
}

@media (max-width: 1024px) {
  header {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  header {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  header {
    margin-left: 20px;
  }
}

.plantain {
  position: absolute;
  top: 590px;
}

@media (max-width: 768px) {
  .plantain {
    display: none;
  }
}

@media (max-width: 480px) {
  .plantain {
    display: none;
  }
}

.plantain img {
  height: 600px;
}

@media (max-width: 768px) {
  .plantain img {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .plantain img {
    height: 250px;
  }
}

#new-opportunities {
  margin-top: 200px;
  text-align: center;
  font-size: 2rem;
}

#new-opportunities .about {
  line-height: 3rem;
  max-width: 40%;
  font-size: 1.6rem;
  margin: 0 auto;
}

@media (max-width: 480px) {
  #new-opportunities .about {
    margin-right: 22px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #new-opportunities {
    text-align: left;
    margin-top: 50px;
    margin-left: 22px;
  }
}

.benefit {
  margin-top: 100px;
}

.benefit .benefit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .benefit .benefit-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .benefit .benefit-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefit .benefit-card {
  color: #333;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 15%;
  margin: 0 36px;
  padding: 30px;
  padding-bottom: 12px;
  -webkit-box-shadow: -1px 13px 20px #f0f2f4;
          box-shadow: -1px 13px 20px #f0f2f4;
  border-radius: 5px;
}

.benefit .benefit-card .title {
  font-weight: bold;
  font-size: 1.2rem;
}

.benefit .benefit-card .body {
  line-height: 1.5rem;
}

.benefit .benefit-card .icon {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefit .benefit-card:nth-child(2) {
  background-color: #66bb6a;
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .benefit .benefit-card {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .benefit .benefit-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

hr {
  margin: 90px 100px;
}

@media (max-width: 480px) {
  hr {
    margin: 10px 70px;
  }
}

.invest {
  margin-left: 110px;
}

.invest h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Chivo", sans-serif;
}

.invest p {
  max-width: 800px;
  line-height: 3rem;
  font-size: 1.6rem;
}

@media (max-width: 480px) {
  .invest {
    margin-left: 20px;
  }
}

.terms {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */