@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");
html {
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

* {
  box-sizing: border-box;
}

nav {
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 50px;
  padding-right: 110px;
  margin-left: 110px;

  @media (max-width: 1024px) {
    justify-content: space-between;
    margin-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 768px) {
    justify-content: space-between;
    margin-left: 0px;
    padding-right: 0px;
    img {
      margin-left: 30px;
    }
  }

  @media (max-width: 480px) {
    justify-content: space-between;
    padding-right: 30px;
    img {
      margin-left: 30px;
    }
  }

  .mobile-bar {
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 480px) {
      display: flex;
      margin-right: 22px;
    }

    span {
      display: block;
      height: 2px;
      width: 20px;
      margin: 2px;
      background: #888;
    }

    &.active {
      background: #333;
      span {
        background: white;
      }
    }

    &:hover {
      background: #da0000;
      span {
        background: rgb(255, 255, 255);
      }
      &.active {
        background: rgb(218, 255, 7);
        span {
          background: white;
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    margin-left: -4px;
    padding: 0;
    transition: ease 1s all;
    @media (max-width: 480px) {
      display: flex;
      visibility: none;
      opacity: 0;
      max-height: 0px;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      flex-direction: column;
      background-color: #f2f2f2;
      &.active {
        opacity: 1;
        max-height: 500px;
        background-color: #e2e2e2;
        li {
          display: block;
          a {
            display: block;
          }
        }
      }
    }
  }

  li {
    display: inline-block;
    margin-right: 20px;
    a {
      display: inline-block;
      text-decoration: none;
      color: black;
      font-size: 18px;
      padding: 0.5em 1em;
      &:hover {
        background: brown;
      }
    }
  }

  .nav-signup {
    padding: 0 1.5rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    transition: ease-in 0.25s all;
    font-size: 16px;
    color: white;
    &:hover {
      transform: translateY(5px);
    }
    @media (max-width: 480px) {
      display: none;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}

header {
  display: flex;
  justify-content: left;
  margin-left: 110px;
  height: max-content;
  .left-part {
    margin-top: 100px;

    h2 {
      font-size: 4rem;
      max-width: 700px;
      font-weight: 700;

      @media (max-width: 1024px) {
        font-size: 4rem;
        max-width: 500px;
      }

      @media (max-width: 768px) {
        font-size: 3rem;
        max-width: 380px;
      }
      @media (max-width: 480px) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1.6rem;
      max-width: 700px;
      line-height: 3rem;

      @media (max-width: 1024px) {
        font-size: 2rem;
        line-height: 3rem;
        max-width: 600px;
      }
      @media (max-width: 480px) {
        font-size: 1rem;
        line-height: 1.6rem;
        margin-right: 22px;
      }
      @media (max-width: 768px) {
        font-size: 1.5rem;
        max-width: 380px;
        line-height: 2.5rem;
      }
    }

    .cta {
      margin-top: 40px;
      color: white;
      font-size: 18px;
      padding: 8px 25px;
      background-color: #66bb6a;
      border: none;
      border-radius: 5px;
      transition: ease-in 0.25s all;
      filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
      &:hover {
        transform: translateY(5px);
      }
      @media (max-width: 1024px) {
        padding: 18px 45px;
        font-size: 20px;
      }
    }

    @media (max-width: 768px) {
      display: inline-block;
      justify-content: left;
      margin-top: 30px;
    }
    @media (max-width: 480px) {
      display: inline-block;
      justify-content: left;
      margin-top: 20px;
    }
  }

  .main-illustration {
    object-fit: contain;
    position: absolute;
    right: 0px;
    top: 0px;

    img {
      height: max-content;

      @media (max-width: 1024px) {
        height: 700px;
      }
      @media (max-width: 768px) {
        height: 550px;
      }
      @media (max-width: 480px) {
        display: none;
      }
    }
  }

  @media (max-width: 1024px) {
    margin-left: 50px;
  }
  @media (max-width: 768px) {
    margin-left: 30px;
  }
  @media (max-width: 480px) {
    margin-left: 20px;
  }
}

.plantain {
  position: absolute;
  top: 590px;

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: none;
  }

  img {
    height: 600px;

    @media (max-width: 768px) {
      height: 400px;
    }

    @media (max-width: 480px) {
      height: 250px;
    }
  }
}

#new-opportunities {
  margin-top: 200px;
  text-align: center;
  font-size: 2rem;

  .about {
    line-height: 3rem;
    max-width: 40%;
    font-size: 1.6rem;
    margin: 0 auto;

    @media (max-width: 480px) {
      margin-right: 22px;
      max-width: 100%;
    }
  }

  @media (max-width: 480px) {
    text-align: left;
    margin-top: 50px;
    margin-left: 22px;
  }
}

.benefit {
  margin-top: 100px;

  .benefit-container {
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  .benefit-card {
    color: #333;
    height: auto;
    width: fit-content;
    max-width: 15%;
    margin: 0 36px;
    padding: 30px;
    padding-bottom: 12px;
    box-shadow: -1px 13px 20px #f0f2f4;
    border-radius: 5px;

    .title {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .body {
      line-height: 1.5rem;
    }

    .icon {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:nth-child(2) {
      background-color: #66bb6a;
      color: #f2f2f2;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      margin-bottom: 40px;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
}

hr {
  margin: 90px 100px;
  @media (max-width: 480px) {
    margin: 10px 70px;
  }
}

.invest {
  margin-left: 192px;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Chivo", sans-serif;
  }
  p {
    max-width: 800px;
    line-height: 3rem;
    font-size: 1.6rem;
  }

  @media (max-width: 480px) {
    margin-left: 20px;
  }
}

.terms {
  display: flex;
  color: white;
  margin-left: 192px;
  margin-top: 66px;

  .term {
    padding: 30px 60px;
    margin-right: 40px;
    width: 30%;
    background-image: linear-gradient(
        180deg,
        rgba(97, 118, 127, 0.0001) 0%,
        #324148 100%
      ),
      url("./images/short.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:last-child {
      background-image: linear-gradient(
          180deg,
          rgba(97, 118, 127, 0.0001) 0%,
          #324148 100%
        ),
        url("./images/long.png");
      object-fit: contain;
      background-position: center;
    }
    @media (max-width: 480px) {
      width: 95%;
      margin-top: 50px;
      margin-right: 20px;
    }

    .perk {
      color: #66bb6a;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Chivo", sans-serif;
      letter-spacing: 3px;
    }

    .underline {
      height: 5px;
      width: 20%;
      background-color: white;
    }

    h3 {
      font-size: 2rem;
      max-width: 50%;
      line-height: 3rem;
    }

    .invest-message {
      max-width: 60%;
      font-size: 1.2rem;
      color: #e2efd2;
      line-height: 2rem;
      margin-bottom: 40px;
      @media (max-width: 480px) {
        max-width: 100%;
      }
    }

    button {
      color: #66bb6a;
      font-size: 1.2rem;
      padding: 15px 30px;
      border: none;
      background-color: white;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  @media (max-width: 480px) {
    margin-left: 20px;
    margin-top: 0px;
    flex-direction: column;
  }
}

.works {
  color: white;
  text-align: center;
  background-color: #66bb6a;
  width: auto;
  margin: 192px;
  padding-top: 106px;
  @media (max-width: 480px) {
    margin: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: 40px;
    padding-top: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
  .instruction {
    margin: 0 auto;
    max-width: 50%;
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 50px;
    @media (max-width: 480px) {
      margin: 0;
      max-width: 70%;
    }
  }

  .boxx {
    width: 70%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    @media (max-width: 480px) {
      flex-direction: column;
      margin: 0;
    }
    .black {
      border-radius: 50%;
      padding: 30px;
      font-size: 1.2rem;
      color: #cacaca;
      border: 2px solid white;
      @media (max-width: 480px) {
        margin: 30px;
      }
      &:first-child {
        background-color: white;
        color: #66bb6a;
      }
    }
    hr {
      width: 100%;
      margin: 0;
      color: white;
      @media (max-width: 480px) {
        transform: rotate(90deg);
        width: 40px;
        color: white;
      }
    }
  }

  .bottom-text-row {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    @media (max-width: 480px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h5 {
      max-width: 15%;
      text-align: left;
      font-size: 1.3rem;
      line-height: 2rem;
      margin-top: 50px;
      @media (max-width: 480px) {
        max-width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

    p {
      margin-top: 50px;
      text-align: left;
      max-width: 30%;
      line-height: 1.5rem;
      font-size: 1.1rem;
      color: white;
      margin-left: 40px;
      @media (max-width: 480px) {
        margin-left: 0;
        max-width: 80%;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}

.comments {
  .row {
    margin-left: 192px;
    h2 {
      position: relative;
      top: 110px;
      max-width: 300px;
      line-height: 45px;
    }
  }
  @media (max-width: 480px) {
    .row {
      margin-left: 30px;
    }
  }
}

.testimonial {
  .container {
    justify-content: space-between;
    margin: 100px 192px 0 192px;

    display: flex;
    .test-card {
      width: 400px;
      box-shadow: -1px 13px 20px #f0f2f4;
      padding: 30px;
      border-radius: 5px;
      .identity {
        display: flex;
        align-items: center;
        font-size: 1.3rem;

        img {
          height: 80px;
          width: 80px;
          margin-right: 10px;
          object-fit: cover;
          background-color: #324148;
          border-radius: 50%;
        }
        .name {
          color: green;
        }
        h4 {
          margin: 0px;
          width: 100%;
        }
      }
      .testimony {
        line-height: 1.5rem;
      }
    }
  }
  @media (max-width: 480px) {
    .container {
      margin: 0;
      width: auto;
      flex-direction: column;
      .test-card {
        width: auto;
        height: auto;
        margin: 10px;
      }
    }
  }
}

.future {
  display: flex;
  justify-content: center;
  .card {
    margin-top: 200px;
    background-color: white;
    width: fit-content;
    padding: 77px 226px;
    text-align: center;
    box-shadow: -1px 25px 20px #f2f2f2;
    border-radius: 5px;
    b {
      color: #66bb6a;
    }

    .cta {
      filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
      color: white;
      font-size: 18px;
      padding: 8px 25px;
      background-color: #66bb6a;
      border: none;
      border-radius: 5px;
      transition: ease-in 0.25s all;
      &:hover {
        transform: translateY(5px);
      }
    }
  }
  @media (max-width: 480px) {
    .card {
      margin-top: 100px;
      padding: 50px;
    }
  }
}

.shortcuts {
  .row {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    text-align: center;

    .company {
      margin: 0 100px;
    }
    .invest-col {
      margin: 0 100px;
    }
    .legal {
      margin: 0 100px;
    }
  }

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}
